{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block title %}
    <title>Django Blog App</title>
    {% endblock title %}

</head>

<body>
    <header>
        <div class="nav-left">
            <h1>
                <a href="{% url 'home' %}">
                    Blog Application
                </a>
            </h1>
            {% if user.is_authenticated %}
            <p>Hello, {{ user.username }}!</p>
            <p><a href="{% url 'logout' %}">Log out</a></p>
            {% else %}
            <p>You're not logged</p>
            <p><a href="{% url 'login' %}">Log In</a></p>
            <p><a href="{% url 'signup' %}">Sign Up</a></p>
            {% endif %}
        </div>
        <div class="nav-right">
            <h2>
                <a href="{% url 'post_new' %}">+ New Blog Post</a>
            </h2>
        </div>
    </header>

    <div>
        {% block content %}
        {% endblock content %}
    </div>
</body>

</html>